* {
    margin: 0;
    padding: 0;
    overflow: auto;
}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 100%;
    background-color: #EAEAEA;
    box-sizing: border-box;

}
header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    height: 8em;
    margin: 0 20% 0 20%;
    background-image: linear-gradient(#FF9501, #FF6039);
    box-sizing: border-box;
}

.logo {
    /* height: 90%; */
    width: 100px;
    padding-right: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 100%;
    margin: 0 20% 0 20%;
    background-color: white;
    box-sizing: border-box;

}

.mainSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    width: 75%;
    height: 100%;
    background-color: white;
    box-sizing: border-box;

}

aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 25%;
    height: 100%;
    background-color: #1DA1F2;
    box-sizing: border-box;

}

.alertsSection {
    margin-top: 20%;
    box-sizing: border-box;

}

aside>section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 60%;
    padding: 1em;
    border-top: 3px solid white;
    box-sizing: border-box;

}

article {
    margin: 1em 10% 0 10%;
    box-sizing: border-box;

}

.repoSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    box-sizing: border-box;

}

.alertsLogo {
    margin: 1em;
    height: 7em;
    width: auto;
}

.github_logo {
    margin-left: 1em;
    height: 5em;
    width: auto;
}

h1 {
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
    color: #1DA1F2;
    margin-bottom: 1em;
}

h2 {
    font-size: 2.5em;
    font-family: 'Raleway', sans-serif;
    color: #1DA1F2;
    margin-bottom: 1em;
}

h3 {
    font-family: 'Raleway', sans-serif;
    color: white;
}

p {
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 767px) {
    header {
        margin: 0;
        width: 100%;
    }
    div {
        margin: 0;
        width: 100%;
    }
    .alertsSection {
        margin: 0;
        margin-top: 10%;
        padding: 0;
    }
    .alertsLogo {
        margin: 5%;
        padding: 0;
        width: 100%;
        height: auto;
    }
    aside>section {
        margin: 5%;
        margin-top: 10%;
        padding: 0;
    }
    .github_logo {
        margin: 0;
    }
    h3 {
        font-size: 12px;
        text-align: center;
        margin: 5%;
    }
}